################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/v17/.suo
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/v17/DocumentLayout.json
/CRUDAPI.EFCore/CRUDAPI.EFCore/bin/Debug/net8.0/CRUDAPI.EFCore.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore/bin/Debug/net8.0/CRUDAPI.EFCore.exe
/CRUDAPI.EFCore/CRUDAPI.EFCore/bin/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore/bin/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.pdb
/CRUDAPI.EFCore/CRUDAPI.EFCore/bin/Debug/net8.0/CRUDAPI.EFCore.pdb
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/ref/CRUDAPI.EFCore.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/refint/CRUDAPI.EFCore.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/apphost.exe
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.AssemblyInfo.cs
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.AssemblyInfoInputs.cache
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.csproj.AssemblyReference.cache
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.MvcApplicationPartsAssemblyInfo.cs
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.pdb
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/Debug/net8.0/CRUDAPI.EFCore.sourcelink.json
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/bin/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/bin/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.pdb
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.AssemblyInfo.cs
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.AssemblyInfoInputs.cache
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.pdb
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.sourcelink.json
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/ref/CRUDAPI.EFCore.Infrastructure.dll
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/refint/CRUDAPI.EFCore.Infrastructure.dll
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/3748ecb3-5a29-4593-ab66-331323754c8c.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/431836c6-1ec3-49e2-ab84-601fd9d61cdc.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/b17164f3-2f36-4943-ad11-55b91612fb6b.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/bc6418bf-7689-4f00-9f60-dff74cead58e.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/ea1c0051-fe5c-46b0-97fc-694be69fcf05.vsidx
/CRUDAPI.EFCore/CRUDAPI.EFCore.Application/obj/Debug/net8.0/CRUDAPI.EFCore.Application.AssemblyInfo.cs
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/7f6106eb-05b5-4086-82d8-665af77fd467.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/8412a383-d6a5-4a89-9ebd-0f1aa094c7ad.vsidx
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/Migrations/20240509030436_V2.cs
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/Migrations/20240509030436_V2.Designer.cs
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/e233dbd3-751c-429a-8dec-2e5c7e7d905c.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/f7a37a1b-699c-4d93-8ab5-67c279c10176.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/5e9aac21-defe-4239-abe6-ea55ed6cd303.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/6ae07db3-6bbc-42c7-b5a6-f7f413701540.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/6cf40227-d45b-4636-bcb1-c821e09a1190.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/8f49ffef-fb71-4dc5-8b20-985bbb7b31b6.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/b773a9b3-1017-46bc-a56f-c8ad6bf7da85.vsidx
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/Debug/net8.0/CRUDAPI.EFCore.Infrastructure.csproj.CoreCompileInputs.cache
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/v17/.suo
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/DesignTimeBuild/.dtbcache.v2
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/16c86d3a-fde4-4b0d-86cd-4da7f71e2e8a.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/20d6e6a5-db7a-4514-ba7c-eea2e162533c.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/2b2391ce-d6fe-4606-9614-12c924d2c844.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/eba29e3f-0f5a-468f-bbe5-06bcaee30833.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/v17/.futdcache.v2
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/v17/DocumentLayout.json
/CRUDAPI.EFCore/.vs/ProjectEvaluation/crudapi.efcore.metadata.v7.bin
/CRUDAPI.EFCore/.vs/ProjectEvaluation/crudapi.efcore.projects.v7.bin
/CRUDAPI.EFCore/CRUDAPI.EFCore/obj/rider.project.restore.info
/CRUDAPI.EFCore/CRUDAPI.EFCore.Application/obj/rider.project.restore.info
/CRUDAPI.EFCore/CRUDAPI.EFCore.Domain/obj/rider.project.restore.info
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/obj/rider.project.restore.info
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/1e46409a-c35e-4357-aee4-ba0b8843b677.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/51ed83d6-54db-4f23-b13c-60640199e6ff.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/98932bef-d990-408a-ac8c-bb73d94d9fdc.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/573097fd-d9c4-48f9-b849-e00169eb2c9d.vsidx
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/Migrations/20240512160344_V1.cs
/CRUDAPI.EFCore/CRUDAPI.EFCore.Infrastructure/Migrations/20240512160344_V1.Designer.cs
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/f232deaf-9052-42c4-a584-1e924f544525.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/b2515e70-6011-41d2-8b4c-bf3efd86ba4f.vsidx
/CRUDAPI.EFCore/.vs/CRUDAPI.EFCore/FileContentIndex/ee49eab1-f072-4c3b-9220-20dde696dfd4.vsidx
